# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [6]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)

total = 0
for sqrt_value in generator:
    total+=sqrt_value
    print(sqrt_value)

#Problem 1
print("total is", total)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
total is 8.382332347441762

In [7]:
#Problem 2
limit_problem2 = 13
generator_problem2 = square_root_generator(limit_problem2)

len = 0
for sqrt_value in generator_problem2:
    len+=1
    if len == 13:
      print("Value 13 is" , sqrt_value)

Value 13 is 3.605551275463989

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [ ]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution: First make sure that the following modules are installed:

In [66]:
#Install the dependencies
%%capture
!pip install dlt[duckdb]
import duckdb
import pandas as pd
import dlt

In [67]:
db = duckdb.connect()

In [11]:
@dlt.resource(name='people_all', write_disposition='append')
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)

@dlt.resource(name='people_all', write_disposition='append')
def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

In [68]:
pipeline = dlt.pipeline(
    pipeline_name="pipeline_problem_3",
    destination='duckdb',
    dataset_name="people",
    credentials =db

)

/usr/local/lib/python3.10/dist-packages/dlt/pipeline/__init__.py:108: Dlt04DeprecationWarning: The `credentials argument` to pipeline is deprecated and will be removed in a future version. Pass the same credentials to the `destination` instance instead, e.g. pipeline(destination=dlt.destinations.duckdb(credentials=...)). Deprecated in dlt 0.4.0 to be removed in 0.5.0.
  credentials_argument_deprecated("pipeline", credentials, destination)

In [69]:
pipeline.run(people_1())

pipeline.run(people_2())

LoadInfo(pipeline=<dlt.pipeline.pipeline.Pipeline object at 0x7a77b3954bb0>, metrics={'1708280261.5985775': [{'started_at': DateTime(2024, 2, 18, 18, 17, 42, 17653, tzinfo=Timezone('UTC')), 'finished_at': DateTime(2024, 2, 18, 18, 17, 42, 380300, tzinfo=Timezone('UTC'))}]}, destination_type='dlt.destinations.duckdb', destination_displayable_credentials='duckdb:///:external:', destination_name='duckdb', environment=None, staging_type=None, staging_name=None, staging_displayable_credentials=None, destination_fingerprint='', dataset_name='people', loads_ids=['1708280261.5985775'], load_packages=[LoadPackageInfo(load_id='1708280261.5985775', package_path='/var/dlt/pipelines/pipeline_problem_3/load/loaded/1708280261.5985775', state='loaded', schema=Schema pipeline_problem_3 at 134655574287424, schema_update={'people_all': {'columns': {'occupation': {'name': 'occupation', 'data_type': 'text', 'nullable': True}}, 'write_disposition': 'append', 'name': 'people_all', 'resource': 'people_all', 'table_format': None}}, completed_at=DateTime(2024, 2, 18, 18, 17, 42, 357258, tzinfo=Timezone('UTC')), jobs={'new_jobs': [], 'started_jobs': [], 'failed_jobs': [], 'completed_jobs': [LoadJobInfo(state='completed_jobs', file_path='/var/dlt/pipelines/pipeline_problem_3/load/loaded/1708280261.5985775/completed_jobs/people_all.56253863d6.0.insert_values', file_size=331, created_at=DateTime(2024, 2, 18, 18, 17, 41, 667198, tzinfo=Timezone('UTC')), elapsed=0.6900596618652344, job_file_info=ParsedLoadJobFileName(table_name='people_all', file_id='56253863d6', retry_count=0, file_format='insert_values'), failed_message=None)]})], first_run=False)

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [77]:
with pipeline.sql_client() as client:
  with client.execute_query(
        'SELECT * FROM people_all'
    ) as table:
  #       # calling `df` on a cursor, returns the data as a DataFrame
        people = table.df()

In [78]:
#Problem 3
print("Total Age:", people.age.sum())

Total Age: 353

In [79]:
@dlt.resource(merge_key = "ID", name='people_all_merge', write_disposition='merge')
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

@dlt.resource(merge_key = "ID", name='people_all_merge', write_disposition='merge')
def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}

In [80]:
pipeline_problem4 = dlt.pipeline(
    pipeline_name="pipeline_problem_3",
    destination='duckdb',
    dataset_name="people",
    credentials =db
)

/usr/local/lib/python3.10/dist-packages/dlt/pipeline/__init__.py:108: Dlt04DeprecationWarning: The `credentials argument` to pipeline is deprecated and will be removed in a future version. Pass the same credentials to the `destination` instance instead, e.g. pipeline(destination=dlt.destinations.duckdb(credentials=...)). Deprecated in dlt 0.4.0 to be removed in 0.5.0.
  credentials_argument_deprecated("pipeline", credentials, destination)

In [81]:
pipeline_problem4.run(people_1())

pipeline_problem4.run(people_2())

LoadInfo(pipeline=<dlt.pipeline.pipeline.Pipeline object at 0x7a77b01afe50>, metrics={'1708280467.74259': [{'started_at': DateTime(2024, 2, 18, 18, 21, 8, 128236, tzinfo=Timezone('UTC')), 'finished_at': DateTime(2024, 2, 18, 18, 21, 8, 506552, tzinfo=Timezone('UTC'))}]}, destination_type='dlt.destinations.duckdb', destination_displayable_credentials='duckdb:///:external:', destination_name='duckdb', environment=None, staging_type=None, staging_name=None, staging_displayable_credentials=None, destination_fingerprint='', dataset_name='people', loads_ids=['1708280467.74259'], load_packages=[LoadPackageInfo(load_id='1708280467.74259', package_path='/var/dlt/pipelines/pipeline_problem_3/load/loaded/1708280467.74259', state='loaded', schema=Schema pipeline_problem_3 at 134655574287040, schema_update={'people_all_merge': {'columns': {'occupation': {'name': 'occupation', 'data_type': 'text', 'nullable': True}}, 'write_disposition': 'merge', 'name': 'people_all_merge', 'resource': 'people_all_merge', 'table_format': None}}, completed_at=DateTime(2024, 2, 18, 18, 21, 8, 493131, tzinfo=Timezone('UTC')), jobs={'new_jobs': [], 'started_jobs': [], 'failed_jobs': [], 'completed_jobs': [LoadJobInfo(state='completed_jobs', file_path='/var/dlt/pipelines/pipeline_problem_3/load/loaded/1708280467.74259/completed_jobs/people_all_merge.e0e1750d94.0.sql', file_size=365, created_at=DateTime(2024, 2, 18, 18, 21, 8, 229108, tzinfo=Timezone('UTC')), elapsed=0.2640233039855957, job_file_info=ParsedLoadJobFileName(table_name='people_all_merge', file_id='e0e1750d94', retry_count=0, file_format='sql'), failed_message=None), LoadJobInfo(state='completed_jobs', file_path='/var/dlt/pipelines/pipeline_problem_3/load/loaded/1708280467.74259/completed_jobs/people_all_merge.f7a7e56a29.0.insert_values', file_size=336, created_at=DateTime(2024, 2, 18, 18, 21, 7, 794070, tzinfo=Timezone('UTC')), elapsed=0.6990609169006348, job_file_info=ParsedLoadJobFileName(table_name='people_all_merge', file_id='f7a7e56a29', retry_count=0, file_format='insert_values'), failed_message=None)]})], first_run=False)

In [82]:
with pipeline_problem4.sql_client() as client:
  with client.execute_query(
        'SELECT * FROM people_all_merge'
    ) as table:
  #       # calling `df` on a cursor, returns the data as a DataFrame
        people_merge = table.df()

In [83]:
#Problem 4
print("Total Age:", people_merge.age.sum())

Total Age: 266

Questions? difficulties? We are here to help.
- DTC data engineering course channel: https://datatalks-club.slack.com/archives/C01FABYF2RG
- dlt's DTC cohort channel: https://dlthub-community.slack.com/archives/C06GAEX2VNX